<!DOCTYPE HTML>
<html>
	<head>
		<title> My Website </title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
		<script type="text/javascript" src="javascripts/jquery.js"></script>
		<script type="text/javascript" src="javascripts/youtube.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		
	<div style="text-align: center; height: 50px; font-size:45px; font-family: Impact; margin-bottom:5px;"> Party Songs </div>
		
	
		<div align="center">
		<iframe id='spotify' src="" width="300" height="380" frameborder="0" allowtransparency="true" align="center" style="display:block"></iframe>

		<button class="btn btn-primary" style="margin-top: 5px;" onclick="play()">Play</button>
		<button class="btn btn-default" style="margin-top: 5px;" onclick="clearSong()">Clear</button>
		</div>
	
	</body>
</html>