#banner{
	background-color: #999;
	text-align: center;
	height: 50px;
}

#SongDiv{
	margin: 10px;
	padding: 0px;
	display:inline;
}

html{

}

body{
	margin-left: 0px;
	margin-right: 0px;
	background-image: url("../images/background-1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.left{
	height: 100%;
	float:left;
}